{% extends 'layout.html' %}

{% block title %}{{ title }} Home Page{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="stylesheets/custom.css">
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Welcome to our test.</p>
    <div id="wrapper">
        <h2>User List</h2>
        <div id="userList">
            <table>
                <thead>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Delete?</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
