{% extends 'layout.html' %}

{% block title %}{{ title }} Home Page{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="stylesheets/custom.css">
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Welcome to our test.</p>
    <div id="wrapper">

        <!-- User Info -->
        <div id="userInfo">
            <h2>User Info</h2>
            <p>
            <strong>Name:</strong> <span id="userInfoName"></span>
            <br />
            <strong>Age:</strong> <span id="userInfoAge"></span>
            <br />
            <strong>Gender:</strong> <span id="userInfoGender"></span>
            <br />
            <strong>Location:</strong> <span id="userInfoLocation"></span>
            <br />
            </p>
        </div>

        <!-- User List -->
        <h2>User List</h2>
        <div id="userList">
            <table>
                <thead>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Delete?</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Add User -->
        <h2>Add User</h2>
        <div id="addUser">
            <fieldset>
                <input id="inputUserName" type="text" placeholder="Username" />
                <input id="inputUserEmail" type="text" placeholder="Email" />
                <br />
                <input id="inputUserFullName" type="text" placeholder="Full Name" />
                <input id="inputUserAge" type="text" placeholder="Age" />
                <br />
                <input id="inputUserLocation" type="text" placeholder="Location" />
                <input id="inputUserGender" type="text" placeholder="Gender" />
                <br />
                <button id="btnAddUser">Add User</button>
            </fieldset>
        </div>

    </div>
{% endblock %}
